<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/adminAccountAccess.js" defer></script>
</head>
<body>
    <h1>Add New Account</h1>
    <form>
        <!-- drop downs :D -->
        <div>
            <label for="bank"></label>
            <select id="bank">
                <% for (const i in banks) { %>
                    <option value="<%= banks[i].bankID %>"> <%= banks[i].bankID %> </option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="account"> Account ID:</label>
            <input id="account" />
        </div>
        <div>
            <label for="type"></label>
            <select id="type">
                <option value="savings"> savings </option>
                <option value="market" > market </option>
                <option value="checking" > checking </option>
            </select>
        </div>
        <div>
            <label for="customer"></label>
            <select id="customer">
                <% for (const i in customers) { %>
                    <option value="<%= customers[i].perID %>"> <%= customers[i].perID %> </option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="inibalance"> Initial Balance:</label>
            <input id="inibalance" />
        </div>
        <div>
            <label for="interest">Interest Rate:</label>
            <input id="interest" />
        </div>
        <div>
            <label for="minbalance">Interest Rate:</label>
            <input id="minbalance" />
        </div>
        <div>
            <label for="maxwithdraws">Max Withdrawals:</label>
            <input id="maxwithdraws" />
        </div>
        <input type="button" value="Cancel" name="cancel" onclick="window.location.href='/adminMenu'" />
        <input type="submit" value="Add" id="add"> 
    </form>
    <p hidden id="message"></p>
</body>
</html>