<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/createEmployeeRole.js" defer></script>
</head>
<body>
    <h1>Create Employee Role</h1>
    <form>
         <div>
            <label for="pid"></label>
            <select id="pid">
                <% for (const i in perIDs) { %>
                    <option value="<%= perIDs[i].perID %>"> <%= perIDs[i].perID %> </option>
                <% } %>
            </select>
        </div>
        <div><label for="salary">Salary</label> <input id="salary" /></div>
        <div><label for="num_payments"># of Payments</label> <input id="num_payments" /></div>
        <div><label for="earnings">Accumulated Earnings</label> <input id="earnings" /></div>
        <input type="button" value="Cancel" name="cancel" onclick="window.location.href='/manageUsers'" />
        <input type="submit" value="Add Employee Role" id="create">
    </form>
    <p hidden id="message"></p>
</body>
</html>