<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/displayEmployeeStats.js" defer></script>
</head>
<body>
    <h1>Display Employee Stats</h1>
    <table id="table" align = "center" border="1px"></table>
    <script>
        var accountStats = '<%- JSON.stringify(employeeStats) %>';
    </script>
</body>
</html>