<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/displayCorporationStats.js" defer></script>
</head>
<body>
    <h1>Display Corporation Stats</h1>
    <table id="table" align = "center" border="1px"></table>
    <script>
        console.log("hi");
        var corporationStats = '<%- JSON.stringify(corporationStats) %>';
    </script>
</body>
</html>