<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/displayAccountStats.js" defer></script>
</head>
<body>
    <h1>Display Account Stats</h1>
    <table id="table" align = "center" border="1px"></table>
</body>
</html>