<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/replaceManager.js" defer></script>
</head>
<body>
    <h1>Replace Manager</h1>
    <form>
    <div>
            <label for="bank"></label>
            <select id="bank">
                <% for (const i in banks) { %>
                    <option value="<%= banks[i].bankID %>"> <%= banks[i].bankID %> </option>
                <% } %>
            </select>
        <div>
        <div>
            <label for="pid"></label>
            <select id="pid">
                <% for (const i in perIDs) { %>
                    <option value="<%= perIDs[i].perID %>"> <%= perIDs[i].perID %> </option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="salary">Salary: </label>
            <input id = "salary" />
        <input type="button" value="Cancel" name="cancel" onclick="window.location.href='/manageUsers'" />
        <input type="submit" value="Hire" id="create"> 
    </form>
    <p hidden id="message"></p>
</body>
</html>

<!--in ip_perID varchar(100), 
    in ip_taxID char(11),
    in ip_firstName varchar(100), 
    in ip_lastName varchar(100), 
    in ip_birthdate date,
    in ip_street varchar(100), 
    in ip_city varchar(100), 
    in ip_state char(2),
    in ip_zip char(5), 
    in ip_dtJoined date, 
    in cust_password varchar(100)) -->